html, body {margin: 0;}
body { font-family: "Courier New", Courier, monospace }

/* Link Styling */
a {
  /*Links inherit color, instead of being blue*/
  color: inherit;
  /*Bold links*/
  font-weight: bold;
}

.frontPage{
	background-color: #222222;
	color: #DAD6C8;

	height: 55vh;
	margin: 0;
	padding: 10% 10%;
}

.brandTitles{

}

.brandTitles h1{
	font-size: 80px;
	font-family: Arial, sans-serif;

	margin: -35px 0;
}

.contacts{
	margin-top: 50vh;
}

.worksShowcase {
	background-color: #DAD6C8;
	color: #222222;

	margin: 0;
	padding: 10% 10%;
}

.workContainer{
	width: 30%;

	border-radius: 3px;
	border-width: 2px;
	border-style: solid;

}
